table {
  width: 100%;
}


.mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  tr.mat-row {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
}
