<header class="header">
  <mat-toolbar color="primary" class="flex justify-between items-center mb-4">
    <span>
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/">{{title}}</button>
    </span>
    <div class="hidden-mobile">
      <button mat-button routerLink="/login" *ngIf="!(isLoggedIn$ | async)">
        <mat-icon>power_settings_new</mat-icon>
        Login
      </button>
      <button mat-button *ngIf="(isLoggedIn$ | async)" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" class="hidden-desktop">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-menu-item routerLink="/login" *ngIf="!(isLoggedIn$ | async)">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-menu-item *ngIf="(isLoggedIn$ | async)" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</header>

<main class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <mat-toolbar color="primary" class="flex justify-center items-center">
    <span class="text-base">© 2022 juggler39@gmail.com</span>
  </mat-toolbar>
</footer>
