<mat-card>
  <mat-card-title color="secondary">Contact list</mat-card-title>
  <div class="flex justify-between items-center flex-wrap">

    <mat-form-field>

      <input matInput
             placeholder="Search for contacts"
             name="search"
             appearance="fill"
             #search>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            (click)="addContact()">Add Contact
    </button>
  </div>

  <app-contact-table [contacts$]="contacts$"
                     [searchQuery]="search.value"
                     (onEdit)="onEdit($event)">
  </app-contact-table>
</mat-card>
