@import 'variables';
@import 'mixin';

//VISIBILITY

.hidden-mobile {
  @include below($desktop) {
    display: none !important;
  }
}

.hidden-desktop {
  @include above($desktop) {
    display: none !important;
  }
}

//SPACING

.mb-4 {
  margin-bottom: 1rem;
}

//TEXT

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

//FLEX

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

//ELEMENTS

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}
